body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2Px rgb(42, 122, 228);
    padding: 20Px;
    font-size: 32Px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(54, 56, 185);
    padding-bottom: 80Px;
    padding-top: 80Px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40Px;
}

p {
    font-size: 20Px;
}